<%- include("./components/header.ejs") %>
    <%- include("./components/aside.ejs") %>




        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <%- include("./components/breadCrumb.ejs") %>

                <!-- Main content -->
                <section class="content">
                    <%- body %>
                </section>
                <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <%- include("./components/footer.ejs") %>